.accom-show {
  height: calc(100vh - 50px);
  width: 500px;

  img {
    height: 300px !important;
  }
}

.accom-show-info {
  padding: 24px 36px;
}

#close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 5px;
  cursor: pointer;
  z-index: 10000;
  background-size: cover;
  background-color: white;
  border-radius: 50%;
}
