.accommodation-container {
  position: absolute;
  background: white;
  top: 0;
  z-index: 5;
  right: 0;
  border-radius: 16px;
  top: 16px;
  right: 16px;
  overflow-y: scroll;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
}

.accom-show {
  height: calc(100vh - 32px);
  width: 550px;

  img {
    height: 300px !important;
    object-fit: cover;
  }
}

.add-to-itinerary-section {
  form {
    display: flex;
    padding: 16px 0;
  }
}

.accom-show-info {
  padding: 36px 42px;
  position: relative;

  h2 {
    font-size: 36px;
    color: $grey-1;
    margin-top: 8px;
  }

  p {
    color: $grey-1;
    font-family: "Avenir", "Nunito Sans", "sans-serif";
    font-size: 16px;
  }
}

#close-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 4;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);

  &:hover {
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
  }
}

.facilities {
  display: flex;

  .facility-icon {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: $grey-6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }
}

.icon-label {
  font-size: 10px;
  padding: 8px 0;

  p {
    margin-bottom: 0;
  }
}

.add-to-itinerary-btn {
  background: $trailbooks-red;
  padding: 0px 12px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  border: none;
  font-family: "Avenir", "Nunito Sans", "sans-serif";

  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.add-to-itinerary-date {
  border: none;
  border-radius: 8px;
  margin-right: 16px;
  height: 42px;
}

.carousel-show {
  border-radius: 16px 16px 0 0;
}

.accom-show-info-header {
  display: flex;
  justify-content: space-between;
}

.accom-show-info-description {
  margin-top: 16px;
}
