.accom-show {
  height: calc(100vh - 50px);
  width: 500px;

  img {
    height: 300px !important;
  }
}

.accom-show-info {
  padding: 24px 36px;
}

#close-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);

  &:hover {
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
  }
}
