.accommodation-container {
  position: absolute;
  background: white;
  top: 0;
  z-index: 5;
  right: 0;
  border-radius: 16px;
  top: 56px;
  right: 24px;
  overflow: hidden;
}

.accom-show {
  height: calc(100vh - 70px);
  width: 600px;

  img {
    height: 300px !important;
    object-fit: cover;
  }
}

.accom-show-info {
  padding: 36px 42px;
  overflow: auto;

  h2 {
    font-size: 36px;
    color: $grey-1;
    margin-top: 8px;
  }

  p {
    color: $grey-1;
    font-family: "Avenir", "Nunito Sans", "sans-serif";
    font-size: 16px;
  }
}

#close-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 4;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);

  &:hover {
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
  }
}
