.accomodation-info-window {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
}

.accomodation-info-window > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.accomodation-info-window h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.accomodation-info-window p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.accomodation-info-window .accomodation-info-window-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.carousel-inner {

}

.mapboxgl-popup-content {
  padding: 0 !important;
  background: none !important;
}
