@import "components/marker";
@import "components/accommodation_container";
@import "components/itinerary_card";
@import "components/datepicker";

#map {
  margin: 0;
  padding: 0;
  width: 100%;
  position: sticky;
  top: 0;
  height: calc(100vh - 60px);
}

#reservations-col {
  border: 1px solid grey;
}
