<div class="home-banner">
    <div class="home-navbar">
      <div class="logo">
        <%= image_tag "trailbooks-logo.png" %>
        <p>Trailbooks</p>
      </div>
      <div class="login-signup">
        <a href="#" class="login">Log in</a>
        <a href="#" class="signup">Sign up</a>
      </div>
    </div>

  <div class="title-tagline">
    <h1>Plan your trail accommodation</h1>
    <p>For self guided hikers to find and reserve mountain huts and campsites on popular trails</p>
  </div>
</div>

