<div class="home-banner">
    <div class="home-navbar">
      <div class="logo">
        <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.514 27.7006L17.0391 22.8805C17.1508 22.821 17.2626 22.702 17.3184 22.583L24.7486 14.6685C25.0838 14.3115 25.0838 13.7759 24.7486 13.4189L17.3184 5.44491C17.2626 5.3259 17.1508 5.20688 17.0391 5.14738L12.4581 0.267783C12.1229 -0.0892608 11.6201 -0.0892608 11.2849 0.267783C10.9497 0.624826 10.9497 1.16039 11.2849 1.51743L14.0782 4.4928C14.2458 4.67132 14.1341 4.96885 13.9106 4.96885L0.949722 4.96885C0.502794 4.96885 0.111732 5.3854 0.111732 5.86146V9.84845C0.111732 10.146 0.335197 10.384 0.614527 10.384L10.2793 10.384C12.1788 10.384 13.743 12.0502 13.743 14.0735C13.743 16.0967 12.1788 17.7629 10.2793 17.7629L0.502794 17.7629C0.223465 17.7629 1.90735e-06 18.0009 1.90735e-06 18.2985V22.1069C1.90735e-06 22.583 0.391062 22.9995 0.83799 22.9995L13.8547 22.9995C14.0782 22.9995 14.2458 23.2971 14.0223 23.4756L11.2291 26.451C11.0615 26.6295 11.0056 26.8675 11.0056 27.1055C11.0056 27.3436 11.1173 27.5816 11.2849 27.7601C11.676 28.1172 12.1788 28.0577 12.514 27.7006Z" fill="white"/>
        </svg>
        <p>trailbooks</p>
      </div>
      <div class="login-signup">
        <a href="#" class="login">Log in</a>
        <a href="#" class="signup">Sign up</a>
      </div>
    </div>

  <div class="title-tagline">
    <h1>Plan your trail accommodation</h1>
    <p>For self guided hikers to find and reserve mountain huts and campsites on popular trails</p>
  </div>
</div>

