<div class="trailbooks-navbar">
  <div class="container-map">
    <div class="logo">
        <%= image_tag "trailbooks-logo.png" %>
    </div>
    <h1><strong><%= @trail.name %></strong> | <%= @trail.country %></h1>
    <div class="user-avatar">
    </div>
  </div>
</div>

