<div class="trailbooks-navbar">
  <div class="container-map">
    <%= link_to root_path do %>
      <div class="logo">
          <%= image_tag "trailbooks-logo.png" %>
      </div>
    <% end %>
    <h1><strong><%= @trail.name %></strong> | <%= @trail.country %></h1>
    <div class="user-avatar">
    </div>
  </div>
</div>

