<div class="three-steps">
      <div class="icon-and-text">

        <p>Select your trail</p>
      </div>
      <div class="icon-and-text">

        <p>Build an itinerary</p>
      </div>
      <div class="icon-and-text">

        <p>Make reservations</p>
      </div>
    </div>
