<%= render "shared/home_banner" %>
<%= render "shared/three_steps" %>

<div class="home-container">
<div class="cards">
<% @trails.each do |trail| %>

<%= render "shared/trail_card", trail: trail %>
<% end %>
</div>
</div>
