<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>WHEN WILL YOU START YOUR HIKE?</h2>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :checkin_date, as: :string, remote: true,  required: true, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Let's go!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
