.flatpickr-months .flatpickr-month {
  background: #1E222B !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: #1E222B !important;
}

.flatpickr-weekdays {
  background: #1E222B !important;
}

span.flatpickr-weekday {
  background: #1E222B !important;
  color: white !important;
}

.flatpickr-day.selected {
  background: #A31621 !important;
  border-color: #A31621 !important;
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #1E222B !important;
}
