.home-navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  padding: 2rem 0;
  width: 90vw;

  a {
    color: white;
  }
}

.login-signup {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-left: 0.7rem;
    font-family: 'Fira Sans';
  }
}

.signup {
  background: rgba(255,255,255,0.1);
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  margin-left: 2rem;
}

.home-banner {
  background-image:
    linear-gradient(to bottom, rgba(30,34,43,0.9), rgba(30,34,43,0.4)),
    asset-url("home-banner.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.title-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  p {
    font-size: 24px;
    color: $grey-6;
    text-align: center;
    margin-top: 1rem;
    width: 40vw;
  }
}

.start-date-box {
  width: 410px;
  display: flex;
  flex-direction: column;
  background: white;
  height: 270px;
  border-radius: 30px;
  position: absolute;
  bottom: -150px;
  align-items: center;
  padding: 2rem;
  box-shadow: 1px 4px 4px $grey-4;

  p {
    color: $grey-1;
    font-size: 14px;
    letter-spacing: 0.12em;
    font-weight: bold;
    text-align: center;
  }
}

.start-date-input {
  height: 58px;
  width: 280px;
  border-radius: 8px;
  border: 2px solid $grey-3;
  margin-top: 2rem;
  background: $grey-6;
}

.three-steps {
  margin-top: 10rem;
  display: flex;
}

.icon-and-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 2rem;

  p {
    color: $grey-1;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
  }
}
