.home-navbar {
  position: absolute;
  top: -300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  padding: 2rem 0rem;

  a {
    color: white;
  }
}

.login-signup {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-left: 0.7rem;
  }
}

.signup {
  background: rgba(255,255,255,0.1);
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  margin-left: 2rem;
}

.container-home {
  margin: 0 6rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-banner {
  background-image:
    linear-gradient(to bottom, rgba(30,34,43,0.9), rgba(30,34,43,0.4)),
    asset-url("home-banner.jpg");
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 80px;
}

.subtitle {
  width: 490px;
  margin-top: 20px;
}

.three-steps {
  margin-right: auto;
}

.title-subtitle {
    h1 {
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 0.16em;
    color: white;
  }

  p {
    font-family: 'Georgia';
    color: white;
    font-size: 22px;
    letter-spacing: 0.02em;
  }
}

.icon-and-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-top: 30px;
  }
}
