.home-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  padding: 2rem 0;
  width: 90vw;
  margin: auto;

  a {
    color: white;
  }
}

.login-signup {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-left: 0.7rem;
    font-family: 'Fira Sans';
  }
}

.signup {
  background: rgba(255,255,255,0.1);
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  margin-left: 2rem;
}

.home-banner {
  background-image:
    linear-gradient(to bottom, rgba(30,34,43,0.9), rgba(30,34,43,0.4)),
    asset-url("home-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  h1 {
    font-size: 42px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: $grey-6;
    text-align: center;
    margin-top: 1rem;
    width: 40vw;
  }
}
