.popover {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 230px;
  cursor: pointer;
  border: none;
}

.popover-carousel {
  .fixed-height {
    height: 120px;
    object-fit: cover;
  }
}

.popover-info {
  padding: 16px;
  color: $grey-1;
  display: flex;

  p {
    font-size: 14px;
    font-weight: bold;
    margin: 0 8px;
  }
}

.acc-price {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  background: none !important;
}

.mapboxgl-popup-close-button {
  z-index: 3;
}


.test {
  background: white;
  border-radius: 16px;
  height: 80px;
  width: 150px;
}

.popover-bookmark {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 12px;
}

.popover-bookmark > path {
  &:hover {
      fill: $trailbooks-red;
      fill-opacity: 1;
    }
}


