.trailbooks-navbar {
  background: $trailbooks-blue;
  height: 50px;
  display: flex;
  align-items: center;

  h1 {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 0;
  }
}

.container-map {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  background: $grey-6;
  height: 30px;
  width: 30px;
}
