// .marker {
//   background-image: url('../images/mapbox-icon.png');
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
// }

.marker-ts {
  background-color: white;
  color: black;
  border: 3px solid black;
  font-weight:bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-ts-start {
  background-image: asset-url("marker-stage-start.png");
  background-size: contain;
  width: 24px;
  height: 24px;
}

.marker-ts-end {
  background-image: asset-url("marker-stage-end.png");
  background-size: contain;
  width: 24px;
  height: 24px;
}
