.btn-reserve {
  background: $trailbooks-red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
}
