.btn-reserve {
  background: $trailbooks-red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1rem 1.5rem;
  position: absolute;
  bottom: 0;
  border-radius: 32px;
}
