.btn-reserve {
  background: $trailbooks-red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1rem 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  position: absolute;
  left: 0;

  &:hover {
    opacity: 0.8;
    color: white;
  }
}

#nav-itinerary {
  padding: 16px;
  bottom: 0;
  padding-bottom: 100px;
}

#nav-trailstages {
  padding: 16px;
  bottom: 0;
  padding-bottom: 120px;
}
