.itinerary-card {
  color: $grey-1;
  margin: 8px 0;
}

.grey-section {
  background: $grey-6;
  display: flex;
  padding: 4px 8px;

  p {
    font-size: 10px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.white-section {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  height: 100px;

  svg {
    margin: 0 12px;
  }
}

.itinerary-name {
  font-weight: bold;
  margin: 0;
}

.itinerary-price {
  color: $grey-3;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}


