.itinerary-card {
  color: $grey-1;
}

.darkgrey-section {
  background: $grey-5;
  display: flex;
  padding: 4px 8px;
  border-radius: 8px 8px 0 0;
  justify-content: space-between;

  p {
    font-size: 12px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.lightgrey-section {
  background: $grey-6;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  height: 80px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 12px;

  svg {
    margin-right: 12px;
    width: 10%;
  }
}

.itinerary-name {
  font-weight: bold;
  margin: 0;
}

.itinerary-price {
  color: $grey-3;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.info {
  width: 80%;
}
