.trailstage-container {
  display: flex;
  padding: 0 2rem;

  p {
    font-weight: bold;
    color: $grey-1;
  }
}

.icon-line {
  display: flex;
  flex-direction: column;
  width: 32px;
  align-items: center;
  margin-right: 8px;
}

.start-marker {
  width: 18px;
  height: 18px;
  background: #219653;
  border-radius: 50%;
}

.mid-marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.vl-long {
  border-left: 2px solid $grey-4;
  height: 70px;
  margin: auto;
}

.vl-short {
  border-left: 2px solid $grey-4;
  height: 15px;
  margin: auto;
}

.trailstage-stats {
  display: flex;
  justify-content: center;

  p {
    color: $grey-3;
    font-size: 13px;
    margin-top: 4px;
    margin-left: 0;
  }

  img {
    margin-top: -12px;
    margin-left: 8px;
  }
}

#distance {
  color: $grey-2;
}
